Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
PyMySQL==1.1.1
Werkzeug==3.0.3
python-dotenv==1.0.1
SQLAlchemy==2.0.32
reportlab==4.4.10
Pillow==11.0.0
qrcode==8.0
cloudinary==1.41.0
cryptography==43.0.0
gunicorn==22.0